body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 2%;
}

nav .brand-logo {
    padding-left: 18px;
}

.small-text {
    font-size: 0.9rem;
    font-style: italic;
}

.logo-image {
    margin-top: 20px;
}

.card-panel {
    padding: 20px 5px;
}

.fixed-height {
    min-height: 175px;
}

.meal-card-height {
    height: 250px;
}

.hide-option {
    display: none;
}

/* Turn radio type into button from https://stackoverflow.com/questions/16242980/making-radio-buttons-look-like-buttons-instead */
.radio-btn + label {
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    background-color: #FFF;
    color: #000;
    padding: 10px 2.5px;
    border-radius: 10px;
}

.radio-btn:checked + label {
    background: #78909c;
    color: #FFF;
}

.radio-btn + label:hover {
  background: #DDD;
}

.modal-content .col.s6.m3 {
    height: 40px;
}

/* Media queries for responsiviness */
/* Desktop screens */
@media only screen and (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}

/* Tablet screens */
@media only screen and (max-width: 768px) {
	html {
		font-size: 12px;
    }
    
    /* Used to null Materialize styling */
    nav .brand-logo{
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Mobile and tablet screens */
@media only screen and (max-width: 450px) {
	html {
		font-size: 11px;
    }
}