{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
                
        <a href="{{ url_for('profile', username=session.user) }}" class="btn-floating btn-large waves-effect waves-light blue-grey lighten-1
                tooltipped right" data-position="top" data-tooltip="Cancel">
                <i class="fas fa-times"></i>
        </a>
        
        <div class="row center-align">
            <h4 class="col s12 section blue-grey-text text-darken-1">Add Meal</h4>
        </div>

        <form class="row" method="POST" action="{{ url_for('add_meal') }}" enctype = "multipart/form-data">
            <div class="col s12 m4">
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-utensils prefix blue-grey-text text-darken-1"></i>
                        <input id="meal_name" name="meal_name" type="text" minlength="3"
                            maxlength="50" pattern="^[a-zA-Z0-9 --]{3,50}$" class="validate" required>
                        <label for="meal_name">Meal Name</label>
                    </div>
                </div>
                <div class="row file-field input-field">
                    <div class="btn blue-grey darken-1">
                        <span>Image</span>
                        <input type="file" name="meal_image">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="row">
                    <p>Category:</p>
                    {% for category in categories %}
                        <p>
                            <label for="{{ category }}">
                                <input class="with-gap validate" name="meal_category"
                                    value="{{ category }}" id="{{ category }}" type="radio" required/>
                                <span>{{ category|title }}</span>
                            </label>
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="col s12 m8" id="new-content">
            </div>


            <div class="col s12">
                <button id="add-meal-button" type="submit"
                    class="col s6 offset-s3 btn-large blue-grey darken-1">
                    Add
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock %}