{% extends "base.html" %}
{% block content %}
    
    <div class="row logo-image">
        <div class="col s6 offset-s3 m4 offset-m4">
            <img class="responsive-img"
                src="static/images/logo.png" alt="Knife and fork in front of measuring tape">
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 center-align flow-text">
            <p>Trying to <strong>lose weight</strong> or trying to eat <strong>healthier</strong>, but don’t know what to eat?</p>
            <p>This meal planner provides many healthy options for breakfast, lunch, dinner and snacks.
            Select your favorites items from each food options provided to make a balanced meal or snack.
            Pay close attention to the portion sizes to help you stick to your calorie limit. Enjoy!</p>
        </div>
    </div>

{% endblock %}