{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- Log in form -->
    <div class="col s12 m5">
        <div class="row center-align">
            <h4 class="col s12 section blue-grey-text text-darken-1">Log In</h4>
        </div>

        <!-- Flash messages with category of login -->
        <!-- Use of category use found in https://blog.teclado.com/flashing-messages-with-flask/ -->
        <div class="row center-align">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages if category == "login" %}
                        <div class="col s12 section red-text text-accent-4">
                                <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="row center-align">
            <form class="col s12 section" method="POST" action="login">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-alt prefix blue-grey-text text-darken-1"></i>
                        <input id="username" name="username" type="text" minlength="4"
                            maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix blue-grey-text text-darken-1"></i>
                        <input id="password" name="password" type="password" minlength="6"
                            maxlength="24" pattern="^[a-zA-Z0-9]{6,24}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s6 offset-s3 btn-large blue-grey darken-1">
                        Log In
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Register form -->
    <div class="col s12 m5 offset-m1 z-depth-2">
        <div class="row center-align">
            <h5 class="col s12 section blue-grey-text text-darken-1">
                Not part of the club yet?<br>
                Register below! <i class="fas fa-chevron-down"></i>
            </h5>
        </div>

        <!-- Flash messages with category of login -->
        <div class="row center-align">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages if category == "register" %}
                        <div class="col s12 section red-text text-accent-4">
                                <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="row center-align">
            <form class="col s12 section" method="POST" action="register">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix blue-grey-text text-darken-1"></i>
                        <input id="new_username" name="new_username" type="text" minlength="4"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="new_username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix blue-grey-text text-darken-1"></i>
                        <input id="new_password" name="new_password" type="password" minlength="6"
                            maxlength="24" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="new_password">Password</label>
                        <span class="helper-text left-align" data-error="Minimum 6 characters" data-success="Minimum 6 characters">
                            Minimum 6 characters
                        </span>
                        <span class="helper-text left-align" data-error="Maximum 24 characters" data-success="Maximum 24 characters">
                            Maximum 24 characters
                        </span>
                        <span class="helper-text left-align" data-error="No special characters allowed" data-success="No special characters allowed">
                            No special characters allowed
                        </span>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s6 offset-s3 btn-large blue-grey darken-1">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}