{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h4 class="col s12"><i class="far fa-calendar-alt"></i> Plan your week:</h4>
    </div>

    <div class="row white-text">
        <div class="col s2 offset-s1 right-align">
            <p class="btn-floating btn-small waves-effect waves-ligh">
                <i class="fas fa-arrow-left blue-grey lighten-1" id="previous-week"></i>
            </p>
        </div>
        <div class="col s6 center-align" id="week-selector">
            <h5 class="blue-grey-text"></h5>
        </div>
        <div class="col s2 left-align">
            <p class="btn-floating btn-small waves-effect waves-ligh">
                <i class="fas fa-arrow-right blue-grey lighten-1" id="next-week"></i>
            </p>
        </div>
    </div>

    {% set week = ["sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday"] %}
    
    <div class="row">
        {% for day in week %}
            <a class="col s6 m4 card small waves-effect waves-light btn modal-trigger white" href="#modal-{{ day }}">
                <h5 class="blue-grey-text" id="{{ day }}"></h5>
                <div class="blue-grey-text"></div>
            </a>
            
            <!-- Modal Structure -->
            <form id="modal-{{ day }}" class="modal modal-fixed-footer" method="POST">
                <div class="modal-content">
                    <h4 id="modal_title_{{ day }}"></h4>
                    {% if built_meals|length == 0 %}

                        <div class="row">
                            <h5 class="col s12 center-align"> No meals created yet. Go to the Built Meal page to start.</h5>
                        </div>

                    {% else %}

                    {% set categories=["breakfast", "lunch", "dinner", "snack"] %}
                    {% for category in categories %}
                    <div class="row">
                        <h4 class="col s12">{{ category|title }}</h4>
                        {% for meal in built_meals if meal.category == category %}

                            <div class="col s6 m3">
                                <input name="{{ category+'_'+day }}" id ="{{ meal._id|string+'_'+day }}"
                                    value ="{{ meal._id|string+'_'+day }}" type="radio" class="radio-btn" />
                                <label for="{{ meal._id|string+'_'+day }}" class="z-depth-1">
                                    <strong>{{ meal.meal_name }}</strong>                            
                                </label>                     
                            </div>
                            <div class="col s1"></div>

                        {% else %}
                            <p class="col s12">No meals type of {{ category }} created </p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-green btn-flat" type="submit">Submit</button>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </form>
        {% endfor %}
  
    </div>

    <div class="row">
        <a class="col s4 offset-s4 waves-effect waves-light btn-large blue-grey lighten-1"
            id="groceries-button" href="#" target="_blank">Get Groceries List</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/week_plan.js') }}"></script>
{% endblock %}