{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3 class="col s12 center-align">Welcome, {{ user.username }}!</h3>
    </div>

    <div class="row">
        <h4 class="col s12 center-align"><i class="far fa-list-alt"></i> Today's Menu :</h4>
    </div>

    <div class="row center">
        <div class="col s6 offset-s3 m4  offset-m4 z-depth-1 white">
            <h5 class="blue-grey-text">{{ day_plan.day }}</h5>
            {% for meal in day_plan["selected_meals"] %}
                <p><strong>{{ meal|title }} </strong>{{ day_plan["selected_meals"][meal] }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h4 class="col s12 m6"><i class="fas fa-utensils"></i> Your Meals:</h4>
    </div>

    {% if built_meals.count() == 0 %}

        <div class="row">
            <h5 class="col s12 center-align"> No meals created yet. Start now by clicking the Plus button.</h5>
        </div>

    {% else %}

        <div class="row">
            {% for meal in built_meals %}

                <div class="col s6 m3">
                    <div class="card sticky-action blue-grey lighten-1 white-text small">
                        {% if meal.meal_image and meal.meal_image != '' %}
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ url_for('static', filename=meal.meal_image)}}">
                        </div>
                        {% endif %}
                        <div class="card-content">
                            <p class="card-title activator"><strong>{{ meal.meal_name }}</strong></p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="btn-floating btn-small waves-effect waves-light blue-grey lighten-5
                            right tooltipped" data-position="top" data-tooltip="Edit meal">
                            <i class="fas fa-pen blue-grey-text"></i>
                            </a>
                            <a class="btn-floating btn-small waves-effect waves-light blue-grey lighten-5
                                right tooltipped" data-position="top" data-tooltip="Delete meal">
                                <i class="fas fa-minus blue-grey-text"  data-id="{{ meal._id }}"
                                    data-collection="built_meals"></i>
                            </a>
                        </div>
                        <div class="card-reveal">
                            <ul>
                                {% for serving in servings_selected[meal.meal_name] %}

                                    <li>{{ serving }}</li>

                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>

            {% endfor %}

        {% endif %}

        <div class="col s6 m3">
            <a href="{{ url_for('add_meal') }}" class="btn-floating btn-large waves-effect waves-light blue-grey lighten-1
                tooltipped" data-position="top" data-tooltip="Add meal">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        
    </div>

{% endblock %}