{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3 class="col s12 center-align">Manage Serving Options</h3>
    </div>

    {% if serving_options.count() == 0 %}

        <div class="row">
            <h5 class="col s12 center-align"> No serving  created yet. Start now by clicking the Plus button.</h5>
        </div>

    {% else %}

        <div class="row">
            {% for serving in serving_options %}

                <div class="col s6 m3">
                    <div class="card-panel blue-grey lighten-1 white-text fixed-height">
                        <a href="{{ url_for('delete_serving', serving_id=serving._id) }}" class="btn-floating btn-small waves-effect waves-light blue-grey lighten-5
                            right tooltipped" data-position="right" data-tooltip="Delete serving">
                            <i class="fas fa-minus blue-grey-text"></i>
                        </a>
                        <a href="{{ url_for('edit_serving', serving_id=serving._id) }}" class="btn-floating btn-small waves-effect waves-light blue-grey lighten-5
                            right tooltipped" data-position="right" data-tooltip="Edit serving">
                            <i class="fas fa-pen blue-grey-text"></i>
                        </a>

                        <p><strong>{{ serving.category|replace("_", " ")|title }}</strong></p>
                        <p>{{ serving.quantity }} {{ serving.engineering_unit }} {{ serving.ingredient }} </p>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        <div class="col s6 m3 valign-wrapper fixed-height">
            <a href="{{ url_for('add_serving') }}" class="btn-floating btn-large waves-effect waves-light blue-grey lighten-1
                tooltipped" data-position="top" data-tooltip="Add serving">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        
    </div>

{% endblock %}